[Desktop Entry]
Type=Application
Name=Darpan
GenericName=Remote Desktop
Comment=Use this computer from your other devices
Exec=darpan gui
Icon=darpan
Terminal=false
Categories=Network;RemoteAccess;GTK;
Keywords=remote;desktop;teamviewer;vnc;rdp;tailscale;
StartupNotify=true
StartupWMClass=dev.darpan.Darpan
